<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #229ACA;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Habit tracker for mental health</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" data-testid="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>

        <!-- Habits Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="habitsDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Habit
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="habitsDropdown">
            <li><a class="dropdown-item" routerLink="/habit/create">Your Habits</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
