<div class="container">
 <div class="date-list">
  <h2>Journal entry from date:</h2>
  <ul>
    <li *ngFor="let entry of entries" (click)="selectEntry(entry.date)">
      {{ entry.date | date: 'd.M.yyyy' }}
    </li>
  </ul>
</div>
 <div class="entry-view">
  <h2>Journal entry from selected date:</h2>
  <p *ngIf="selectedEntry">{{ selectedEntry.description }}</p>
  <p *ngIf="!selectedEntry">Click a date to view the entry.</p>
</div>
  <div class="entry-write">
    <h2>Write something for your journal</h2>
    <textarea [(ngModel)]="newEntry.description"></textarea>
    <button (click)="addEntry()">Add journal entry</button>
  </div>
</div>