 <main class="content">
    <section class="tips">
      <h2>{{'DASHBOARD.TIPS_AND_TRICKS' | translate}}</h2>
      <p>{{'DASHBOARD.SUGGESTIONS' | translate}}</p>
      <ol>
        <li *ngFor="let tip of tips">{{ getTipText(tip) }}</li>
      </ol>
    </section>

  <section class="streak">
    <div class="emoji">🐻</div>
    <div class="streak-count">{{ streak }}</div>
    <p>{{ 'DASHBOARD.STREAK' | translate }}</p>

    <div class="quizzes">
      <h3>{{ 'DASHBOARD.LATEST_QUIZZES' | translate }}</h3>
      <p>{{ 'DASHBOARD.QUIZ_DESCRIPTION' | translate }}</p>
      <ul>
        <li>{{ getMentalIssues() }}</li>
      </ul>
    </div>
  </section>

  <section class="achievements">
    <h2>{{ 'DASHBOARD.ACHIEVEMENTS' | translate }}</h2>
    <div class="achievement" *ngFor="let achievement of achievements">
      <div class="emoji">{{ achievement.emoji }}</div>
      <h2>{{ achievement.name }}</h2>
      <h3>{{ achievement.title }}</h3>
      <p>{{ achievement.description }}</p>
    </div>
  </section>
</main>
